.dashboard-bg {
    background-color: #5d5b78;
    background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");
    background-position: center;
    min-height: 100vh;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    max-width: 1500px;
    margin: 0 auto;

}

.container-playerinfo {
    @include padding-right($space);
    @include padding-left($space);
    @include padding-top($space-s);
    @include padding-bottom($space-s);
}

.container-progress {
    @include padding($space);
}

.container-traumas {
    @include padding($space);
}

.container-traumas-emojis {
    display: flex;
    gap: $space;
    @include font-size($font-l);
    @include padding-top($space-xs);
    @include padding-bottom($space-xs);
    @include pixelbox;
    justify-content: center;
}


.container-actions {
    --background-url: url('#{$random-background}');
    background-image: var(--background-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;

    padding: $space clamp($space-xs, 5%, $space-xl);
    gap: $space;
}

.container-photo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    @include padding-bottom($space-l);
    @include padding-left($space-l);
    @include padding-right($space-l);
}

.container-rewards {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
}

.action-value {
    @include action-value-font;

    &.positive {
        color: $color-success;
    }

    &.negative {
        color: $color-warning;
    }
}


.container-leveltask {
    @include padding($space-s);
    text-align: center;
}


.emoji-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    transition: all .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.counter {
    @include padding(0.25rem 0.75rem);
    // background-color: $color-secondary;
    // border-radius: 0.3rem;
    @include pixelbox;
    max-width: fit-content;

    p {
        font-family: $font-special;
        @include font-size($font-s);
        letter-spacing: 0.1rem;
    }
}

.healing {
    animation: pulse 2s infinite ease-in-out;
    // background-color: red;
}